css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 100vb;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #007BFF;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.weather-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 80px;
}

.weather-info div {
    flex-basis: 200px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min
}

.weather-info h2 {
    margin: 0;
    font-size: 24px;
    color: #007BFF;
}

.weather-info h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

.weather-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #777;
}

.weather-info i {
    font-size: 48px;
    color: #007BFF;
}